.banner {
    background: url(./../../images/banner.jpg);
    background-size: cover;
    background-position: center;
    min-height: 430px;
    position: relative;
    z-index: 1;
}

.banner:before {
    content: '';
    background-color: rgb(39 31 7 / 26%);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;

}